<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./static/favicon.jpg"/>
    <link rel="stylesheet" href="./style.css"/>
    <title>TwitterBot</title>
  </head>
  <body>
    <h1>TwitterBot</h1>
    <p>A bot for christmas</p>
    <div id='intro'>
      <h3>
        Have you ever agonized over the thoughs of your own existence?
        Have you ever spent countless nights awake by the disgusting, crippled, mortal weakness
        of your flesh? Have you ever longed for those sweet sweet Christmas days?
      </h3>
      <h3>Fear no longer! <span id='krismas'>Krismas</span> is here for you!</h3>
    </div>
    <div id='description'>
      <div>Who?</div>
      <div>Krismas is a fully automated twitter bot that tells you how many days left till Christmas</div>
      <div>Q2</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti corporis enim deleniti voluptate distinctio inventore neque, </div>
      <div>Q3</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit qui tempora expedita debitis atque voluptatibus sed natus aliquid.</div>
    </div>
    <footer>Gustavo Tomás, 2021</footer>
  </body>
</html>