<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./static/favicon.jpg"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>TwitterBot</title>
  </head>
  <body>
    <h1 id="title">TwitterBot</h1>
    <p id="subtitle">A bot for christmas</p>
    <main>
      <div id='intro'>
        <h3>
          Have you ever agonized over the thoughs of your own existence?
          Have you ever spent countless nights awake by the disgusting, crippled, mortal weakness
          of your flesh? Have you ever longed for those sweet sweet Christmas days?
        </h3>
        <h3>Fear no longer! <span class="krismas">Krismas</span> is here for you!</h3>
      </div>
      <div id="description">
        <div><strong>Who</strong></div>
        <div class="answer">Krismas is a fully automated twitter bot that tells you how many days left till Christmas.</div>
        <div><strong>How to use it</strong></div>
        <div class="answer">Make a <a href="https://twitter.com/compose/tweet" target="_blank">tweet</a> with the tag
          <span class="krismas">#krismas</span> and krismas will respond about 15 seconds later with the days
          left till christmas!
        </div>
        <div><strong>More info</strong></div>
        <div class="answer">You can find Krismas twitter account <a href="https://twitter.com/krismas_1" target="_blank">
          here</a> and the source code <a href="https://github.com/gustavo-tomas/TwitterBot" target="_blank">
          here</a>.
        </div>
        <span class="krismas">Important! Krismas is deployed on heroku with a free account, so it won't be online all the time!</span>
      </div>
      <div>Thank you for reading and</div>
      <span id="merry">Merry Christmas!</span>
      <footer><a href="https://github.com/gustavo-tomas" target="_blank">Gustavo Tomás, 2021</a></footer>
    </main>
  </body>
</html>